
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=cf89cc27-e8e4-49eb-b993-24ab57236ed5&fontids=5310067");

@font-face{
  font-family:"Arial W05 Narrow5310067";
  src:url("../Fonts/5310067/a59c86da-34b7-4530-94e1-4ecbc5a29fb1.woff2") format("woff2"),url("Fonts/5310067/f27a5cd7-0400-46f7-9a18-c1ebddd268e4.woff") format("woff");
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: 'Squish';
  font-style: normal;
  font-weight: 100 900;
  src: url("fonts/SquishVF.woff2") format("woff2-variations");
  }

* {
  margin: 0;
  padding: 0;
}

html,
body, 
p,
.h1 {
  font-family: Arial W05 Narrow5310067, sans-Serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.1;
}




#font {
  font-family: 'Squish';
  font-size: 15em;
  font-weight: 500;
}


.weight-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: .25rem;
  background: #dee7ec;
  outline: none;
}



.embed {
    background-color: #f0f4f6;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}


.embed button {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid black;
    font-family: "Roboto VF", sans-serif;
    font-size: 12px;
    letter-spacing: 0.04em;
    padding: 4px 6px;
    background-color: white;

    border-radius: 6px;
    color: black;
    text-align: center;
    user-select: none;
}


.embed.range {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.embed button.value {
    background-color: white;
    border: 1px solid black;
    min-width: 38px;
}

.container {
	margin: 0px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 100vw;
  height: 100vh;
	/* avoid browser level touch actions */
	xtouch-action: none; 
}

.left {
  width: 50vw;
}

.right {
  width: 50vw;
}

.left, 
.right {
  overflow-y: scroll; 
  overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
  height: 100vh;
}



 /* RIGHT SCROLLBAR */

 .right:

:-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
.right::-webkit-scrollbar-track {
    border: 1px solid black;
          border-radius: 6px;
    }

    /* Handle */
.right::-webkit-scrollbar-thumb {
        background: yellow;
            border: 1px solid black;
        border-radius: 6px;
    }

    /* Handle on hover */
.right::-webkit-scrollbar-thumb:hover {
        background: solid white; 
    }


.right::-webkit-scrollbar {
        width: 12px;
    }

 
 /* LEFT SCROLLBAR */



  .left:

:-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
.left::-webkit-scrollbar-track {
    border: 1px solid black;
          border-radius: 6px;
    }

    /* Handle */
.left::-webkit-scrollbar-thumb {
        background: yellow;
            border: 1px solid black;
        border-radius: 6px;
    }

    /* Handle on hover */
.left::-webkit-scrollbar-thumb:hover {
        background: solid white; 
    }


.left::-webkit-scrollbar {
        width: 12px;
    }
 
 /* END SCROLLBAR */

.nav {
  position: fixed;
  text-align: center;
  right: 10px;
  width: 24px;
  height: auto;
  padding: 0px;
  padding-bottom: 2px;
  border-left: 1px solid black; 
  border-bottom: 1px solid black; 
  border-right: 1px solid black;
  
  background: yellow;
}

a {
  color: black;
  text-decoration: none;
  z-index: 10;
}

a:hover {
  color: white;
}

.row {
  width: auto;
  height: auto;
  border-bottom: 1px solid black;
  padding: 10px 10px 10px 10px;

  display: grid;
  grid-template-columns: 36px auto;
}

.section {
  padding: 10px 40px 10px 10px;
  border-top: 1px solid black;
}

#syllabus {
  border-top: 0px;
}


/* COLOR
-------------------------------------------------- */
.blank {
  color: white !important;
}

.today,
#more {
  background: yellow;
}

.demo {
  color: orange;
}
.demo-link:hover {
  color: orange;
}


.pres {
  color: green;
}
.pres-link:hover {
  color: green;
}


.guest {
  color: red;
}
.guest-link:hover {
  color: red;
}


.crit {
  color: blue;
}
.crit-link:hover {
  color: blue;
}


.read {
  color: violet;
}
.read-link:hover {
  color: violet;
}

.no-class {
  color: lightgray;
}









/* TEXT
--------------------------------------------------*/

ol {
  list-style-type: circle;
  margin-left: 20px;
}

ul {
  margin-left: 20px;
  margin-top: 0px;
}

blockquote {
  margin-left: 20px;
}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {
  html,
  body, 
  p,
  .h1 {
    font-size: 12px;
    line-height: 1.1;
  }

  .row {
    grid-template-columns: 26px auto;
  }
  
} 

{"mode":"full","isActive":false}
