
@font-face {
    font-family: "MS-G";
    src: url("fonts/MS-Gothic.ttf");
}


@font-face {
    font-family: "MS-M";
    src: url("fonts/MSMINCHO.TTF");
}

@font-face {
    font-family: "ReviewMonoRegular";
    src: url("fonts/ReviewMonoRegular.ttf");
}

    @font-face {
      font-family: 'AmstelvarVF';
      src: url('fonts/AmstelvarVF.ttf') format('truetype-variations');
      font-weight: 100 900;
      font-stretch: 75% 100%;
      font-style: normal;
      font-display: swap;
    }



@font-face {
  font-family: 'Squish';
  font-style: normal;
  font-weight: 100 900;
  src: url("fonts/SquishVF.woff2") format("woff2-variations");
  }

* {
  margin: 0;
  padding: 0;
}

html,
body, 
p,
.h1 {
  font-family: ReviewMonoRegular, monospace;
  font-size: 14px;
  font-style: normal;
  line-height: 1.1;
}

img {
  width: relative;
  height:14vh;
}




.container2 * {
      font-size: 64px;
        font-family: AmstelvarVF;
      font-variation-settings: 'wght' var(--text-axis);
    }



.demo2 {
      --text-axis: 88;
    }



#font {
  font-family: 'Squish';
  font-size: 12em;
  font-weight: 500;
}

#fonttwo {
  font-family: 'Roboto Mono';
  font-size: 12em;
  font-weight: 500;
}


#weight-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 3rem;
  background: white;
    border: 1px solid black;
  outline: 1px;
}



#weight-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: yellow;
  border: 1px solid black;
  cursor: pointer;
}



#weight-slider::-moz-range-thumb {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}


.box{
    display: flex;
}

.embed {
height:100%;
  width: 25vw;
    float: left;
    text-align: center;
    padding: 10px 10px 10px 10px;
    /*border-right: 1px solid black;*/
}



.embed2 {
    flex-grow: 1;
    float: right;
  text-align:center;
  color:white;
  width:50%;
  line-height:50px;
  background:url('https://d2w9rnfcy7mm78.cloudfront.net/8677389/original_4c2b61ca52f440ce92947b7fdc985221.jpg?1600001509?bc=0') ;
  background-repeat: no-repeat;
  background-attachment: relative;
    background-size: 500px;

}



.embed button {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid black;
    font-family: "MS-G", sans-serif;
    font-size: 12px;
    letter-spacing: 0.04em;
    padding: 4px 6px;
    background-color: white;

    border-radius: 6px;
    color: black;
    text-align: center;
    user-select: none;
}


.embed.range {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.embed button.value {
    background-color: white;
    border: 1px solid black;
    min-width: 38px;
}

.container {
	margin: 0px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 100vw;
  height: 100vh;
	/* avoid browser level touch actions */
	xtouch-action: none; 
}

.left {
  width: 50vw;
}

.right {
  width: 50vw;
}

.left, 
.right {
  overflow-y: scroll; 
  overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
  height: 100vh;
}



 /* RIGHT SCROLLBAR */

 .right:

:-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
.right::-webkit-scrollbar-track {
    border: 1px solid black;
          border-radius: 6px;
    }

    /* Handle */
.right::-webkit-scrollbar-thumb {
        background: yellow;
            border: 1px solid black;
        border-radius: 6px;
    }

    /* Handle on hover */
.right::-webkit-scrollbar-thumb:hover {
        background: solid white; 
    }


.right::-webkit-scrollbar {
        width: 12px;
    }

 
 /* LEFT SCROLLBAR */



  .left:

:-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
.left::-webkit-scrollbar-track {
    border: 1px solid black;
          border-radius: 6px;
    }

    /* Handle */
.left::-webkit-scrollbar-thumb {
        background: yellow;
        border: 1px solid black;
        border-radius: 6px;
    }

    /* Handle on hover */
.left::-webkit-scrollbar-thumb:hover {
        background: solid white; 
    }


.left::-webkit-scrollbar {
        width: 12px;
    }
 
 /* END SCROLLBAR */

.nav {
  position: fixed;
  text-align: center;
  right: 10px;
  width: 24px;
  height: auto;
  padding: 0px;
  padding-bottom: 2px;
  border-left: 1px solid black; 
  border-bottom: 1px solid black; 
  border-right: 1px solid black;
  
  background: yellow;
}

a {
  color: black;
  text-decoration: none;
  z-index: 10;
}

a:hover {
  color: white;
}

.rowtext {
  width: auto;
  height: auto;
  border-bottom: 1px solid black;
  padding: 10px 10px 10px 10px;

  display: grid;
  grid-template-columns: 36px auto;
}


.row {
  width: auto;
  height: auto;
  border-bottom: 1px solid black;
  /*padding: 10px 10px 10px 10px;*/

  display: grid;
}



.section {
  padding: 10px 40px 10px 10px;
  border-top: 1px solid black;
}



#syllabus {
  border-top: 0px;
}


/* COLOR
-------------------------------------------------- */
.blank {
  color: white !important;
}

.today,
#more {
  background: #FFA07A;
}


#person1 {
  background: #FFFFE0;
}



.demo {
  color: orange;
}
.demo-link:hover {
  color: orange;
}


.pres {
  color: green;
}
.pres-link:hover {
  color: green;
}


.guest {
  color: red;
}
.guest-link:hover {
  color: red;
}


.crit {
  color: blue;
}
.crit-link:hover {
  color: blue;
}


.read {
  color: violet;
}
.read-link:hover {
  color: violet;
}

.no-class {
  color: lightgray;
}









/* TEXT
--------------------------------------------------*/

ol {
  list-style-type: circle;
  margin-left: 20px;
}

ul {
  margin-left: 20px;
  margin-top: 0px;
}

blockquote {
  margin-left: 20px;
}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {
  html,
  body, 
  p,
  .h1 {
    font-size: 12px;
    line-height: 1.1;
  }

  .row {
    grid-template-columns: 26px auto;
  }
  
} 

{"mode":"full","isActive":false}
