
@font-face {
    font-family: "Necto";
    src: url("fonts/NectoMono-Regular.otf");
}


@font-face {
  font-family: 'Squish';
  font-style: normal;
  font-weight: 100 900;
  src: url("fonts/SquishVF.woff2") format("woff2-variations");
  }


* {
  margin: 0;
  padding: 0;
}

html,
body, 
p,
.h1 {
  font-family: Necto, serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.1;
}


a {
  color: black;
  text-decoration: none;
  z-index: 10;
}

a:hover {
   color: transparent;
   text-shadow: 0 0 3px rgba(0,0,0,0.5);
}


.box{
  display: flex;
  padding: 0;
  text-align: center;
}

.textbox{
text-align: left;
}

.cover{
  text-align: center;
  width: 49vw;
  height: 100vh;
  border-bottom: 1px solid black;
  padding: 10px 10px 10px 10px;
  background-color: black;
  background:url('images/tendril.JPG');
  background-position: center;
  background-size: 1000px;
  grid-template-columns: 36px auto;
}

.g {
  height:100vh;
  width: 50vw;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  border-right: 1px solid black;
  vertical-align: middle;
  display: inline-block;
}


/* BUTTONS
-------------------------------------------------- */

.solid button {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid white;
    font-family: "Necto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 6px 6px 6px 6px;
    color: black;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    user-select: none;
}


.area button {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid white;
    font-family: "Necto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 6px 6px 6px 6px;
    color: black;
    background-color: LightGreen;
    border-radius: 20px;
    text-align: center;
    user-select: none;
}

.line button {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid white;
    font-family: "Necto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 6px 6px 6px 6px;
    color: white;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    user-select: none;
}


.textbox button {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid black;
    font-family: "Necto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 6px 6px 6px 6px;
    color :black;
    background-color:  white;
    border-radius: 20px;
    text-align: center;
    user-select: none;
}


.textbox button:hover {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid black;
    font-family: "Necto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 6px 6px 6px 6px;
    color: black;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    user-select: none;
}



.g button {
    appearance: none;
    -webkit-appearance: none;
    border: 0px solid black;
    font-family: "Necto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 6px 6px;
    background-color: white;
    border-radius: 20px;
    color: black;
    text-align: center;
    position: relative;
}


/* CONTAINERS
-------------------------------------------------- */

.big{
	margin: 0px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 100vw;
  height: 100vh;
	/* avoid browser level touch actions */
	xtouch-action: none; 
}


.left {
  width: 50vw;
  background: solid black;
  /*border-right: 1px solid black;*/
}

.right {
  width: 50vw;
    overflow: auto;
  /*background-color: black;*/
}


.right.scroll{
  padding:right;
}

.left, 
.right {
  overflow-y: scroll; 
  overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
  height: 100vh;
}


/* SCROLL BAR RIGHT
-------------------------------------------------- */


    /* Track */

.right::-webkit-scrollbar-track {
    background-color: white;
    border: 1px solid black;
    border-radius: 0px;
    }

    /* Handle */

.right::-webkit-scrollbar-thumb {
    background: LightGreen;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color .5s;
    }

    /* Handle on hover */
    
.right::-webkit-scrollbar-thumb:hover {
    background: white; 
    }

.right::-webkit-scrollbar {
    width: 4px;
}


 
/* SCROLL BAR LEFT
-------------------------------------------------- */

    /* Track */

   
.left::-webkit-scrollbar-track {
    background: white; 
    border: 1px solid black;
    border-radius: 0px;
    }

    /* Handle */

.left::-webkit-scrollbar-thumb {
    background: LightGreen;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto
    }

    /* Handle on hover */

.left::-webkit-scrollbar-thumb:hover {
      background: white; 
    }


.left::-webkit-scrollbar {
    width: 4px;
    }

 /* END SCROLLBAR */




/* SPACES
-------------------------------------------------- */

.rowtext {
  width: auto;
  height: 100vh;
  border-bottom: 1px solid black;
  padding: 10px 10px 10px 10px;
  background-color: black;
  display: grid;
  grid-template-columns: 36px auto;
}


.row {
  width: auto;
  height: auto;
  border-bottom: 1px solid black;
  padding: 10px 10px 10px 10px;
  display: grid;
}

.participant {
  width: auto;
  height: auto;
  border-bottom: 1px solid black;
  padding: 0px 0px 0px 0px;
  display: grid;
}


.area {
  padding: 10px 10px 10px 10px;
  border-top: 0px solid black;
}

.line {
  padding: 10px 10px 10px 10px;
  border-top: 1px solid black;
}


.solid {
  padding: 10px 10px 10px 10px;
  background: Gainsboro;
}


.dot {
  padding: 10px 10px 10px 10px;
  border-top: 1px solid LightGreen;
}


/* VARIABLE STUFF
-------------------------------------------------- */


#font {
  font-family: 'Squish';
  font-size: 65vw;
  font-weight: 500;
  line-height: 0.8em;
  vertical-align: middle;

  position: relative;
}


#weight-slider {
  -webkit-appearance: none;
  width: 25vw;
  height: 2px;
  border-radius: 3rem;
  background: white;
  border: 1px solid white;
  outline: 1px;
}



#weight-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  background: white;
  border: 0px solid black;
  cursor: pointer;
}



#weight-slider::-moz-range-thumb {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  background: red;
  cursor: pointer;
}



.g.range {
  position: absolute;
  bottom: 1vh;
 display: inline-block;

}


.column {
  width: 24.5vw;
  float: left;
  }

.column2 {
  float: left;
}




/* COLOR
-------------------------------------------------- */
.blank {
  color: white !important;
}

.today,
#more {
  background: Gainsboro;
}


#person1 {
  background: #FFFFE0;
}


.glyph {
  color: white;
}

.time {
  color: Silver;
}


.ex1 {
  color: blue;
}

.ex2 {
  color: LightGreen;
}

.ex3 {
  color: DarkGreen;
}

.ex4 {
  color: Olive;
}

.final {
  color: Lime;
}


.link {
  color: white;
}
.link:hover {
  color:black;
}

.no-class {
  color: lightgray;
}




/* PARTICIPANT IMAGES
--------------------------------------------------*/


.img1 {
  height: 30vh;
  width: 25vw;
  float: left;
  background:url('https://d2w9rnfcy7mm78.cloudfront.net/8677389/original_4c2b61ca52f440ce92947b7fdc985221.jpg?1600001509?bc=0') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  }



.gif1 {
  float: right;
  color:white;
  width:50%;
  line-height:50px;
  background:url('https://media.itsnicethat.com/original_images/sangah-shin-jae-ee-cuteness-work-graphic-design-itsnicethat-9.gif') ;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1800px;
  }








/* TEXT
--------------------------------------------------*/

ol {
  list-style-type: disc;
  margin-left: 20px;
}

ul {
  margin-left: 20px;
  margin-top: 0px;
}

blockquote {
  margin-left: 20px;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}




/* MOBILE
-------------------------------------------------- */

@media screen and (max-width: 800px) {
  html,
  body, 
  p,
  .h1 {
    font-size: 12px;
    line-height: 1.1;
  }

  .row {
    grid-template-columns: 26px auto;
  }

.solid button, 
.area button, 
.g button,
.line button {

    font-size: 12px;
}


.cover{
  text-align: center;
  width: auto;
  height: 100vh;
  border-bottom: 1px solid black;
  padding: 2px;
  background-color: black;
  background-position: center;
  grid-template-columns: 36px auto;
}

.area, {
  padding: 5px;
  border-top: 0px solid black;
}


.line {
  padding: 5px;
  border-top: 1px solid black;
}


.solid {
  padding: 5px;
  background: Gainsboro;
}


.dot {
  padding: 5px;
  border-top: 1px solid #D3D3D3;
}

  
.column {
  width: 100vw;
  float: left;
  }

.column2 {
    width: 100vw;
    float: left;
  }

.left, .right
    {
      display: block; 

    }


.img1, .gif1
    {
      display: block; 
      float: none; 
      width: 100%;

    }

} 

{"mode":"full","isActive":false}
